.about-container {
    margin-left: 200px;
    margin-right: 200px;
    text-align: initial;

    .section-container {
        padding-bottom: 50px;

        .moto-details {
            font-weight: 600;
        }
    }

    .section-header {
        font-size: 20px;
        font-weight: 500;
        color: blue;
        margin-bottom: 30px
    }
}