.contact-us-container {
    .school-name {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .single-detail-container {
        padding-bottom: 4px;
        .detail-header {
            display: inline-block;
            padding-right: 10px;
            font-weight: 600;
        }
        .detail-value {
            display: inline-block;
        }
    }
}