.parent-page {

    .logo-pivot-container {
        display: flex;
    }
    .logo {
        width: 350px;
        height: 200px;
    }

    .pivot-container {
        width: 100%;
        right: 20px;
        margin-top: 40px;
        float: right;
        min-width: max-content;

        .pivot-item {
            color: red;
            width: 200px;
            background-color: orange;
            height: 50px;
            font-size: 20px;
            margin-top: 40px;
            cursor: pointer;
        }
    }

    .pivot-content {
        display: block;
        overflow: auto;
    }
}